.DS_Store
*/.DS_Store
/.env
.claude
CLAUDE.md

# docker
/docker/.env

# IDE
/.idea/

# dynamic runtime directory (cache, logs)
/var/

# local data (databases)
/data/
/data.bak/

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/app/.env.local.php
/app/config/secrets/prod/prod.decrypt.private.php
/app/vendor/
###< symfony/framework-bundle ###

# frontend
/app/frontend/node_modules/
/app/public/frontend/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/app/.php-cs-fixer.php
/var/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
