parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "/" between string and 1\|10 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Client/AhaApi.php

		-
			message: '#^Method App\\Client\\AhaApi\:\:getBasicDeviceStats\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/AhaApi.php

		-
			message: '#^Method App\\Client\\AhaApi\:\:getBasicDeviceStatsBatch\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/AhaApi.php

		-
			message: '#^Method App\\Client\\AhaApi\:\:getSwitchList\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/AhaApi.php

		-
			message: '#^Method App\\Client\\AhaApi\:\:parseBasicDeviceStats\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/AhaApi.php

		-
			message: '#^Method App\\Client\\Helper\:\:bestFactor\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/Helper.php

		-
			message: '#^Method App\\Client\\Helper\:\:requestUrl\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/Helper.php

		-
			message: '#^Method App\\Client\\Helper\:\:requestUrlsConcurrent\(\) has parameter \$requests with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/Helper.php

		-
			message: '#^Method App\\Command\\CronSmartSaveStats\:\:createChart\(\) has parameter \$values with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/CronSmartSaveStats.php

		-
			message: '#^Method App\\Command\\CronSmartSaveStats\:\:createChart\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/CronSmartSaveStats.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/Smart.php

		-
			message: '#^Method App\\Command\\SmartDeviceStats\:\:createChart\(\) has parameter \$values with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/SmartDeviceStats.php

		-
			message: '#^Method App\\Command\\SmartDeviceStats\:\:createChart\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/SmartDeviceStats.php

		-
			message: '#^Method App\\Controller\\Api\\DeviceController\:\:serializeCachedDevice\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/Api/DeviceController.php

		-
			message: '#^Method App\\Controller\\Api\\DeviceController\:\:serializeDevice\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/Api/DeviceController.php

		-
			message: '#^Call to protected method getEntityManager\(\) of class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository\<App\\Entity\\SmartDeviceData\>\.$#'
			identifier: method.protected
			count: 2
			path: src/Controller/Api/StatsController.php

		-
			message: '#^Method App\\Controller\\Api\\UserController\:\:serialize\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/Api/UserController.php

		-
			message: '#^Method App\\Device\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Device.php

		-
			message: '#^Method App\\Device\\Feature\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Device/Feature.php

		-
			message: '#^Method App\\Device\\Feature\\Outlet\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Device/Feature/Outlet.php

		-
			message: '#^Method App\\Device\\Feature\\PowerMeter\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Device/Feature/PowerMeter.php

		-
			message: '#^Method App\\Device\\Feature\\Temperature\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Device/Feature/Temperature.php

		-
			message: '#^Method App\\Entity\\User\:\:setRoles\(\) has parameter \$roles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$roles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Variable \$index might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Service/SmartStatsCollectionService.php
